@import "../../Assets/Fonts/Montserrat/Montserrat.css";

body {
  --main-color: rgb(22, 22, 29);
  --opposite-color: rgb(225, 225, 225);
}

* {
  user-select: none;
  background-color: var(--main-color);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  font-family: "Montserrat", Helvetica, Arial, sans-serif;
  font-weight: 500;
  color: var(--opposite-color);
  font-size: 5vmin;
}

.app {
  min-width: 320px;
  min-height: 100vh;
}
